:root {
    --background-color: white;
    --text-color-1: black;
    --text-color-2: blue;
    --text-color-3: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: var(--background-color);
    justify-content: space-between;
    top: 0px;
    padding: 20px 20px 10px 20px;
    width: 100%;
    z-index: 3;

}

.logo {
    border-radius: 50%;
    background: transparent;
}

.navbar a {
    color: var(--text-color-1);
    margin-right: 90px;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover {
    color:var(--text-color-2);
}

.block-1 {
    background:transparent;
}

.welcome {
    display: flex;
    top: 20px;
    height: 65vh;
    width: 60%;
    align-items: center;
    margin-inline: auto;
    margin-top: 90px;
    justify-content: center;
    color: var(--text-color-3);
    background-color: rgba(red, green, blue, alpha);
    border-radius: 2% 2% 2% 2%;
}

.welcome-textbox {
    left: 1px;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    color:antiquewhite
}
.welcome-textbox h1 {
    font-family: cursive, monospace;
}
.welcome-textbox h1:nth-of-type(1) {
    font-size: 60px;
 }
.welcome-imagebox {
    padding: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 35%;

}
.welcome img {
    width: 200px;
    border-radius: 35%;
    background: linear-gradient(rgba(0, 0, 255, 30%), rgba(245,162,7,10%)), 
                linear-gradient(to bottom right, blue, rgb(245, 162, 7));
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; /* this is important */
    border: 5px solid transparent;
    clip-path: inset(0 round 5px);
}

.block-2 {
    background-color: var(--background-color);
}
.business-card {
    background-color:beige;
    width: 50%;
    height: 35vh;
    display: flex;
    position: relative;
    top: -90px;
    margin: auto;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 2%;
    align-items: center;
}

#projects {
    text-align: center;
}

.project {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    padding: 30px 6vw;
}
.projects-box label {
    display: block;
    color: black;
}

.projects-button {
    width:160px;
}

#testimonials {
    text-align: center;
    padding-top: 30px;
}
#testimonials img {
    border-radius: 30%;
}

#contact {
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
}
#email-form {
    margin-inline: auto;
    justify-content: center;
    text-align: center;
    display: block;
    padding-bottom: 30px;
}

@media only screen and (max-width:1350px) {
    
    .navbar {
        display: inline-flex;
        position: absolute;
        top: 0px;
    }
    .nav-logo {
        display: inline-flex;
    }

    #welcome {
        height: fit-content;
        width: 100vw;
        margin: auto;
        font-size: normal;
        padding-top: 30px;
        border-radius: 0%;
    }
    #welcome h1 {
        font-size: 20px;
    }
    .business-card {
        width:100vw;
        position: relative;
        top: 0;
        border-radius: 0%;
    }

}

@media only screen and (max-width:700px) {
    
    body {
        background-color: white;
    }

    .navbar {
        display: inline-flex;
        position: absolute;
        top: 0px;
    }
    .nav-logo {
        display: inline-flex;
    }

    #welcome {
        height: fit-content;
        width: 100vw;
        margin: auto;
        font-size: normal;
        padding-top: 30px;
        border-radius: 0%;
    }
    #welcome h1 {
        font-size: 20px;
    }
    .business-card {
        width:100vw;
        position: relative;
        top: 0;
        border-radius: 0%;
    }
    
}
