*{
    margin:0;
    padding:0;
}
body{
    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    box-shadow: 0px 7px 5px rgba(0,0,0,0.1);
}
header .logo{
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
header nav{
    float: right;
}
.menu{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.menu li a{
    display: block;
    text-decoration: none;
    color: #333;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    transition: all 0.9s ease;
}
.menu li a:hover{
    background-color: #333;
    color: #fff;
}
.menu li a.active{
    background-color: #333;
    color: #fff;
}
#menubtn{
    display: none;
    height: 10px;
    line-height: 10px;
    padding: 15px;
    color: #333;
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top:10px;
    right: 20px;
}
main{
    margin-top: 60px;
}
.block-1{
    background: url(./images/writingCode.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 30px;
}
.walcome{
    height: 50vh;
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 30px;
}
.block-2{
    background:white;
    height: calc(50vh - 60px);
    padding: 10px 30px;
}
.skill-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    display:inline-block;
    background-color: #fff;
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 9px 9px 9px rgba(0,0,0,0.1);
}
.card img{
    display: none;
}
#projects{
    background-color: rgba(0,0,0,0.5);
    height: 50vh;
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 30px;
}

@media (max-width: 991px){
    #menubtn{
        display: block
    }
    .menu{
        display: none; /*closed by default*/
        height: 100vh;
        position: fixed;
        top: 60px;
        left:0;
        right:0;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        color:#fff
    }
    .menu li a{
        color: lightgray;
        height: 100px;
        line-height: 100px;
    }
    .menu li a:hover{
        padding: 20px;
    }}

@media (max-width:620px){
    .block-2{
        height: auto;
    }
    .skill-cards{
        display: block;
        align-items: center;
    }
    .card{
        display: block;
        width: 100%;
    }}
footer{
    background-color: white;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 100;
    box-shadow: 0px -7px 5px rgba(0,0,0,0.2);
}